:root {
    --font-color: green;
    --font-style: monospace;
    --bg-color: black;
    --font-sizing: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    position: absolute;
    font-family: var(--font-style);
    color: var(--font-color);
    font-size: var(--font-sizing);
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

.main p {
    position: relative;
    top: 30px;
    line-height: 1.5;
}

.bottom-links a {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-style);
    color: var(--font-color);
}
.bottom-links a:hover {
    color: white;
    background-color: green;
}

.blink {
    animation: blink 2s infinite ease-in;
}

.blink2 {
    animation: blink 1s infinite ease-in;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font-style);
    font-size: var(--font-sizing);
    text-align: center;
}

@keyframes blink {
    form {
        color: green;
    }
    to {
        color: black;
    }
}




